DATABASE_URL=postgresql://<user>:<password>@localhost/discussion_forum
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672
FIREBASE_CONFIG_PATH=<route>/firebase-private-key.json
